.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  text-decoration: none;
  color: black;
}

.container img {
  width: 80px;
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
  /* 한줄이 넘어가더라도 예쁘게*/
}

.author {
  color: gray;
}
